@import "../../../css/colors.scss";
@import "../../../css/animations.scss";
@import "../../../css/mixins.scss";

.form {
  @include slideRightToLeft(250ms);
  width: 100%;

  h1 {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }

  h5 {
    padding: 0 0 1rem 0;
    margin: 0;
    font-weight: 500;
  }

  .customInput {
    @include inputWithUnderline(200ms);
    position: relative;

    .toTransparent {
      background: none;
      border: none;
    }

    .showPasswordIcon {
      font-size: 1.4em;

      &:hover {
        cursor: pointer;

        path {
          fill: $gray;
        }
      }

      path {
        fill: lighten($color: $gray, $amount: 50);
        transition: fill 200ms ease-in;
      }
    }
  }

  .rememberMe {
    text-align: left;
  }

  .icon {
    position: absolute;
    top: 0.9rem;
    left: 1rem;
    font-size: 1em;
    overflow: hidden;
    color: $gray;
  }

  .loginBtn {
    margin: 1rem 0 !important;
    color: $white !important;
    border-radius: 2rem !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    transition: all 0.2s ease-in-out !important;
  }
}
