@import "../../css/colors.scss";
@import "../../css/animations.scss";

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lighten($color: $gray, $amount: 50);
  overflow: hidden;

  .loginBox {
    @include slideBottomTop(800ms);
    background: $white;
    border-radius: 0.2rem;
    width: 50%;
    overflow: hidden;
    transition: all 0.3s ease-in-out !important;

    .loginForm {
      min-height: 430px;
      width: 100%;
      padding: 1.5rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .image {
      width: 100%;
      overflow: hidden;
      margin: 0 auto;
      background: url(../../assets/login.jpg);
      background-position: center;
      background-size: cover;
    }

    .languageSelector {
      padding: 1.5rem 1.5rem 0 0;
    }
  }

  @media screen and (max-width: 1200px) {
    .loginBox {
      width: 95%;
    }
  }

  @media screen and (max-width: 576px) {
    .loginBox {
      width: 90%;

      .colImg {
        display: none !important;
      }
    }
  }
}
