@import "../../css/colors.scss";

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $gray;
  overflow: hidden;

  .loginBox {
    background: $white;
    border-radius: 0.5rem;
    width: 50%;
    animation: show-slide 0.8s ease-in forwards;
    overflow: hidden;

    .image {
      width: 100%;
      overflow: hidden;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .loginBox {
      width: 95%;
    }
  }

  @media screen and (max-width: 576px) {
    .loginBox {
      width: 90%;

      .colImg {
        display: none !important;
      }
    }
  }
}

@keyframes show-slide {
  0% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
  }
  0.13% {
    -webkit-transform: matrix3d(0.793, 0, 0, 0, 0, 1.207, 0, 0, 0, 0, 1, 0, 0, 293.463, 0, 1);
    transform: matrix3d(0.793, 0, 0, 0, 0, 1.207, 0, 0, 0, 0, 1, 0, 0, 293.463, 0, 1);
  }
  0.26% {
    -webkit-transform: matrix3d(0.746, 0, 0, 0, 0, 1.254, 0, 0, 0, 0, 1, 0, 0, 287.22, 0, 1);
    transform: matrix3d(0.746, 0, 0, 0, 0, 1.254, 0, 0, 0, 0, 1, 0, 0, 287.22, 0, 1);
  }
  0.57% {
    -webkit-transform: matrix3d(0.854, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 271.692, 0, 1);
    transform: matrix3d(0.854, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 271.692, 0, 1);
  }
  0.88% {
    -webkit-transform: matrix3d(0.959, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 256.729, 0, 1);
    transform: matrix3d(0.959, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 256.729, 0, 1);
  }
  1.2% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 241.883, 0, 1);
    transform: matrix3d(0.998, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 241.883, 0, 1);
  }
  1.51% {
    -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 227.656, 0, 1);
    transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 227.656, 0, 1);
  }
  2.76% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 174.596, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 174.596, 0, 1);
  }
  4.01% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 129.056, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 129.056, 0, 1);
  }
  4.1% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 125.912, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 125.912, 0, 1);
  }
  5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 98.483, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 98.483, 0, 1);
  }
  8.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 31.647, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 31.647, 0, 1);
  }
  12.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.53, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.53, 0, 1);
  }
  16.12% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.007, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.007, 0, 1);
  }
  27.23% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.352, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.352, 0, 1);
  }
  38.34% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.311, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.311, 0, 1);
  }
  60.56% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1);
  }
  82.78% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
