@import "../../../css/colors.scss";
@import "../../../css/animations.scss";

.form {
  @include slideRightToLeft(250ms);

  h1 {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }

  h5 {
    padding: 0 0 1rem 0;
    margin: 0;
    font-weight: 500;
  }

  .roundInput {
    width: 100%;

    input {
      margin-bottom: 1rem !important;
      border: none !important;
      border-bottom: 1px $light-gray solid !important;
      border-radius: 0 !important;
      transition: all 0.3s ease-in-out !important;

      &:focus,
      &:hover {
        border-bottom: 1px $blue solid !important;
      }
    }
  }

  .resetBtn {
    margin: 1rem 0 !important;
    color: $white !important;
    border-radius: 2rem !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    transition: all 0.2s ease-in-out !important;
  }
}
