@import "../../../css/colors.scss";
@import "../../../css/animations.scss";
@import "../../../css/mixins.scss";

.form {
  @include slideRightToLeft(250ms);
  width: 100%;

  h1 {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }

  h5 {
    padding: 0 0 1rem 0;
    margin: 0;
    font-weight: 500;
  }

  .customInput {
    position: relative;
    @include inputWithUnderline(200ms);
  }

  button {
    width: 100%;
    margin: 1rem 0;
    color: $white;
    border-radius: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 0.75rem;
  }
}
